# macOS / Xcode / Swift
.DS_Store
xcuserdata/
DerivedData/
build/
.swiftpm/
.swiftpm/xcode/
Package.resolved
*.xcuserstate
*.xccheckout
# Swift Package Manager artifacts
.build/
# Fastlane (if used)
fastlane/README.md
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
# SwiftLint cache (if used)
.swiftlint.yml
.swiftlint.cache
